@{
    ViewBag.Title = "Index";
}

<h2>插入</h2>
<ul>
    <li>
        <input type="button" id="btnSingleInsert" name="btnSingleInsert" value="单条插入">
    </li>
    <li>
        <input type="button" id="btnBulkInsert1" name="btnBulkInsert1" value="批量插入(dapper自带)">
    </li>
    <li>
        <input type="button" id="btnBulkInsert2" name="btnBulkInsert2" value="批量插入(使用SqlBulkCopy)">
    </li>
</ul>

<h2>查询</h2>
<ul>
    <li>
        <input type="button" id="btnQuerySingleTable" name="btnQuerySingleTable" value="查询(单表)">
    </li>
    <li>
        <input type="button" id="btnQueryMultiTable" name="btnQueryMultiTable" value="查询(多表)">
    </li>
</ul>

<h2>更新</h2>
<ul>
    <li>
        <input type="button" id="btnUpdate" name="btnUpdate" value="更新">
    </li>
</ul>

<h2>删除</h2>
<ul>
    <li>
        <input type="button" id="btnDeleteSingle" name="btnDeleteSingle" value="单条删除">
    </li>
    <li>
        <input type="button" id="btnDeleteBatch" name="btnDeleteBatch" value="批量删除">
    </li>
</ul>

<h2>事务</h2>
<ul>
    <li>
        <input type="button" id="btnDoTransaction" name="btnDoTransaction" value="测试事务">
    </li>
</ul>

<h2>调用存储过程</h2>
<ul>
    <li>
        <input type="button" id="btnDoStoredProcs" name="btnDoStoredProcs" value="调用存储过程">
    </li>
</ul>

<h2>多结果集</h2>
<ul>
    <li>
        <input type="button" id="btnMultiResults" name="btnMultiResults" value="多结果集">
    </li>
</ul>

<h2>动态参数</h2>
<ul>
    <li>
        <input type="button" id="btnDoDynamicParameters" name="btnDoDynamicParameters" value="动态参数">
    </li>
</ul>

<h2>多数据库查询</h2>
<ul>
    <li>
        <input type="button" id="btnDoMultiDbQuery" name="btnDoMultiDbQuery" value="多数据库查询">
    </li>
</ul>

@if (false)
{   
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
}

<script type="text/javascript">
    $(function () {
        // 单条插入
        $("#btnSingleInsert").click(function () {
            $.post('@Url.Action("InsertSingle", "Home")', function (data) {
                alert(data);
            });
        });

        // 批量插入(dapper自带)
        $("#btnBulkInsert1").click(function () {
            $.post('@Url.Action("InsertBulkByDefault", "Home")', function (data) {
                alert(data);
            });
        });

        // 批量插入(使用SqlBulkCopy)
        $("#btnBulkInsert2").click(function () {
            $.post('@Url.Action("InsertBulkBySqlBulkCopy", "Home")', function (data) {
                alert(data);
            });
        });

        // 查询(单表)
        $("#btnQuerySingleTable").click(function () {
            $.post('@Url.Action("QuerySingleTable", "Home")', function (data) {
                alert(data);
            });
        });

        // 查询(多表)
        $("#btnQueryMultiTable").click(function () {
            $.post('@Url.Action("QueryMultiTable", "Home")', function (data) {
                alert(data);
            });
        });

        // 更新
        $("#btnUpdate").click(function () {
            $.post('@Url.Action("Update", "Home")', function (data) {
                alert(data);
            });
        });

        // 单条删除
        $("#btnDeleteSingle").click(function () {
            $.post('@Url.Action("DeleteSingle", "Home")', function (data) {
                alert(data);
            });
        });

        // 批量删除
        $("#btnDeleteBatch").click(function () {
            $.post('@Url.Action("DeleteBatch", "Home")', function (data) {
                alert(data);
            });
        });

        // 测试事务
        $("#btnDoTransaction").click(function () {
            $.post('@Url.Action("DoTransaction", "Home")', function (data) {
                alert(data);
            });
        });

        // 调用存储过程
        $("#btnDoStoredProcs").click(function () {
            $.post('@Url.Action("DoStoredProcs", "Home")', function (data) {
                alert(data);
            });
        });

        // 多结果集
        $("#btnMultiResults").click(function () {
            $.post('@Url.Action("MultiResults", "Home")', function (data) {
                alert(data);
            });
        });

        // 动态参数
        $("#btnDoDynamicParameters").click(function () {
            $.post('@Url.Action("DoDynamicParameters", "Home")', function (data) {
                alert(data);
            });
        });

        // 多数据库查询
        $("#btnDoMultiDbQuery").click(function () {
            $.post('@Url.Action("DoMultiDbQuery", "Home")', function (data) {
                alert(data);
            });
        });

    });

</script>


